# <h1> Data Science Tools and Ecosystem <h1>

# In this notebook, Data Science Tools and Ecosystem are summarized.

# __Objectives:__  
 **Objectives:**
 <l>
<li>Python</li>
<li>Jupyter</li>
<li>Markdown in jupyter</li>
<li>tool for data science in python such as numpy and pandas</li>
</l>

# Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

# Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>ggplot</li>
</ol>

| Data Science Tools| 
|:---------|
|  PostgreSQL  |  
|  MYSQL   |  
| Apache airflow   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers
num=(3*4)+5
num

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
m=min%60
print("Hours=",h)

Hours= 3

# <h2> Auther <h2>
Raianna